<div id="social_networking" class="span-2 prepend-11 append-11" style="margin-top:20px; text-align:center;">
  <a href="http://twitter.com/share" class="twitter-share-button" data-text="<%= band.name %> is the name of my <%= band.band %> cover band #coverband" data-count="none">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <iframe src="http://www.facebook.com/plugins/like.php?href=<%= root_url %>%2Fcover_band_name%2F<%= band.id %>&amp;send=false&amp;layout=box_count&amp;width=50&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=60" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:60px;" allowTransparency="true"></iframe>
</div>
