<div id="social_networking" class="span-6 prepend-9 append-9" style="margin-top:20px; text-align:center;">
  <a href="http://twitter.com/share" class="twitter-share-button" data-text="<%= band.name %> is the name of my <%= band.band %> cover band #mycoverband" data-count="none">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <iframe src="http://www.facebook.com/plugins/like.php?href=<%= root_url %>%2Fcover_band_name%2F<%= band.id %>&amp;send=false&amp;layout=button_count&amp;width=50&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
</div>
