<div class="span-16 large prepend-4 append-4">
  <div style="text-align:center" class="loud"><%= @cover_band_name.name %> is the name of my <%= @cover_band_name.band %> cover band.</div> 
</div>

<%= render :partial => "ratings/rating", :locals => {:asset => @cover_band_name} %>

<%= render :partial => "social", :locals => {:band => @cover_band_name} %>
